		
<h2>Timetable</h2>
<div id='calendar'></div>
    	<% if signed_in? %>
			  <div class="row">
			    <aside class="span4">
						
			      <section>
			        <%= render 'shared/group_form' %>
			      </section>
			      <section>
			        <%= render 'shared/groups' %>
			      </section>
			     
			    </aside>
			  </div>
				<% else %>
<% provide(:title,"IdleCampus") %>
<%=   image_tag "img/VectorSmartObject.png", :class => "bg",:size => "1001x506" %>

<%=  image_tag "img/logo1plusflyingobjects.png",id:"logo-combined",:size => "1000x576" %>

<a id="ios" href="https://itunes.apple.com/us/app/idlecampus/id589694599?ls=1&mt=8" style="position:relative;right:222px;top:109px;">
	<img alt="appstore" height= "42" src= "img/Layer6.png" width= "120"></img>
</a>
<a id="android" href="https://play.google.com/store/apps/details?id=com.idlecampus" style="position:relative; top:109px;">
		<img alt="android store"  height= "42" src= "img/Layer7.png" width= "120"></img>
</a>





<%=   image_tag "img/Reflection.png", :id => "Reflection",:size => "188x57"%>
<%=   image_tag "img/shadow.png", :id => "shadow",:size => "187x5"%>
<%=   image_tag "img/basephone.png" , :id => "basephone",:size => "185x388"%>
<%=   image_tag "img/Layer3.png" , :id => "Layer3",:size => "156x276"%>
<%=   image_tag "img/Layer4.png", :id => "Layer4",:size => "215x399"%>
<%=  image_tag "img/shadow_0.png" , :id => "shadow_0",:size => "198x5"%>
<%=  image_tag "img/Layer4copy.png", :id => "Layer4copy",:size => "215x399"%>
<%=   image_tag "img/Layer2copy.png", :id => "Layer2copy",:size => "181x320"%>
<%=   image_tag "img/Layer5.png", :id => "Layer5",:size => "185x328"%>

<% end %>

