%img.bg{src: "./img/VectorSmartObject.png"}/
=  image_tag "img/Layer9.png",id:"Layer9"

=  image_tag "img/VectorSmartObject_0.png",id:"VectorSmartObject_0"

=  image_tag "img/Manageandkeepyourstu.png",id:"Manageandkeepyourstu"
%a#Layer6{href: "https://itunes.apple.com/us/app/idlecampus/id589694599?ls=1&mt=8"}
  =  image_tag "img/Layer6.png",alt: "appstore"

%a#Layer7{href: "https://play.google.com/store/apps/details?id=com.idlecampus"}
  =  image_tag "img/Layer7.png",alt: "googleplay"

=  image_tag "img/Getallthedatathatisy.png",id:"Getallthedatathatisy"
=  image_tag "img/34Builtwiththeneedof.png", :id => "34Builtwiththeneedof"
=  image_tag "img/Youdon39thavetogoany.png", :id => "Youdon39thavetogoany"
=  image_tag "img/VectorSmartObject_1.png", :id => "VectorSmartObject_1"
=  image_tag "img/Idle.png", :id => "Idle"
=  image_tag "img/ampus.png", :id => "ampus"
=  image_tag "img/Reflection.png", :id => "Reflection"
=  image_tag "img/shadow.png", :id => "shadow"
=  image_tag "img/basephone.png" , :id => "basephone"
=  image_tag "img/Layer2.png" , :id => "Layer2"
=  image_tag "img/Layer3.png" , :id => "Layer3"
=  image_tag "img/Layer4.png", :id => "Layer4"
=  image_tag "img/shadow_0.png" , :id => "shadow_0"
=  image_tag "img/Layer4copy.png", :id => "Layer4copy"
=  image_tag "img/Layer2copy.png", :id => "Layer2copy"
=  image_tag "img/Layer5.png", :id => "Layer5"
=  image_tag "img/TimetableGetyoursche.png", :id => "TimetableGetyoursche"
=  image_tag "img/Whyyouwilllovethis.png", :id => "Whyyouwilllovethis"