<%= form_for Note.new, :html => {:id => "groupnoteupload"},remote: true do |f| %>
  <div>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<%= f.hidden_field "authenticity_token",value: form_authenticity_token %>
    <div class="col-xs-8">
			<%= f.text_area :message,rows: 3,class:"form-control",placeholder:"Enter your note here:"%>
    </div>
      <%= f.file_field :file %>
      <% if @group.group_code %>
			  <%= f.hidden_field :group,:value =>@group.group_code %>
      <% else %>
      <%= f.select :group, current_user.groups.collect {|p| [ p.name, p.group_code ] } %>
      
      <% end %>
     
      <p> <button type="button" data-loading-text="Uploading..." class="btn
      btn-success" id="note_file_button" ng-click="publishgroupnote()"> Upload
      </button> </p> <span id="message" style="display:none">Note sent</span> </div>


<% end %>