<li>
  Group: <%= note.group.name%>
    <abbr class="timeago pull-right" title="<%= note.created_at.getutc.iso8601 %>">
      <%= note.created_at.to_s %>
    </abbr>
  <% unless note.file.path.nil? %>
  <%= note.file.path.split('/').last %>
 
  <% end %>
<p class="well well-message">
	<%= note.message %>
</p>

 <div class="message-buttons">
   <%= link_to "Download",note.file.url,class: "btn btn-success" %>
</div>

 </li>