<div class="row" ng-controller="GroupsCtrl" ng-init="get()">
    <aside class="span3">
        <section>
            <div>

                <%= render 'groups/header' %>

                <% if current_user.rolable_type == "Teacher" %>
                    <section>
                        <%= render 'shared/group_form' %>
                    </section>
                    <section>
                        <%= render 'shared/groups' %>
                    </section>

                <% end %>


            </div>
        </section>

    </aside>
    <div class="span9">
        <!-- Main content         -->
        <div id="main-content">
            <!-- Container -->
            <div class="container">
                <% if current_user.rolable_type == "Teacher" %>

                    <%= render 'messages/tabs' %>


                <% end %>




                <div class="span9">
                    <h1 class="page-title">Group Posts</h1>
                    <!-- <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                      This is a sample <strong>alert message</strong>. You can close it at any time.
                    </div> -->

                    <div class="widget">
                        <div class="widget-header">
                            <h3><i class="icon-comments"></i>&nbsp;&nbsp;Posts</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="messages-activity" id="posts">

                                <% @posts.each do |post| %>
                                 Group: <%= post.group.name%>
                                    <%= render post %>

                                <% end %>


                            </ul>
                        </div>
                    </div>

                </div>


            </div>
        </div>


        <!-- /Content -->


        <!-- /Content -->
    </div>


</div>
<!-- /Container -->
</div>




</div>



