/ - provide(:title, 'Sign up')
/ %h1 Sign up
/ .row
/   .span2.offset3
/     %form.css-form.form-vertical{name: "signupform"}
/       Email:
/       %input.input-medium{integer1: "",id:"Email", name: "uEmail", "ng-model" => "email1", placeholder: "Email:", required: "", type: "email"}/
/       %i#emailicon
/       / <span ng-show="signupform.uEmail.$error.emailavailable">Email not available</span>
/       / <span ng-show="signupform.uEmail.$error.required">Email required  </span>
/       Username:
/       %input.input-medium{integer: "", id:"Name",name: "size", "ng-model" => "user", placeholder: "Username:", required: "", type: "text"}/
/       %i#nameicon
/       Password:
/       %input#registerpassword.input-medium{name: "uPassword", "ng-model" => "password", passworddir: "", placeholder: "Password:", required: "", type: "password"}/
/       %i#passwordicon
/       .clearfix
/       %button.btn.btn-success.btn-large#submit
/         %i{"ng-class" => "spin"}
/         Create my account
/ 		
		
		
- provide(:title, 'Sign up')
%h1 Sign up
.row
  .span6.offset3
    = form_for(@user) do |f|
      = f.label :name
      = f.text_field :name
      = f.label :email
      = f.text_field :email
      = password_field_tag 'password'
   
      = f.submit "Create my account", class: "btn btn-large btn-primary"
	  
	  
	  
	  









 