Welcome <%= @user.name %>

    <div class="row"  ng-controller="GroupsCtrl" ng-init="getGroupsCreated();">
        <aside class="span3">
            <section>
                <div>
                  
                    <form class="form-inline" id="new_group">
                        <input class="create-group-input span2" placeholder="Group Name" type="text"
                               id="creategroupinput" name="group" ng-model="data.creategroup"/>

                        <button data-dismiss="modal" class="btn btn-primary" id="creategroupbutton"
                                ng-click="createGroup()">Create
                        </button>


                    </form>
                    <!-- <%= render "groups/form" %> -->
                    <ul id="sidebar" class="nav nav-tabs nav-stacked" id="groupscreated">
                        <li class="active">
                            <a href="#collapse-additional-info" class="accordion-toggle" data-toggle="collapse"
                               data-parent="navigation-components">
                                <i class="icon-list-ul"></i>&nbsp;&nbsp;Groups

                            </a>

                        </li>


                        <li ng-repeat="group in data.groupscreated" id="{{group.group_code}}">
                            <a href="" ng-click="groupclick(group)">{{group.name}}</a>
                        </li>


                    </ul>
                </div>
            </section>

        </aside>
        <div class="span9">
            <!-- Main content         -->
            <div id="main-content">
                <!-- Container -->
                <div class="container">
                    <!-- Header boxes -->
                    <!-- /Header boxes -->
										
		                <div class="tabbable" style="margin:0 auto">
		                    <ul class="nav nav-tabs">
		                        <li class="active" style="margin:0 5px;text-align:center;width:100px;"><a data-toggle="tab"
		                                                                                                  href="#tabs-1">Notes</a>
		                        </li>
		                        <li style="margin:0 5px;text-align:center;width:100px;">
		                            <a data-toggle="tab" href="#tabs-2">Alert</a>
		                        </li>

		                    </ul>
		                    <div class="tab-content">
		                        <div class="tab-pane active" id="tabs-1">

                           

													                <%= form_for Note.new, :html => {:id => "groupnoteupload"},remote: true do |f| %>
													                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
													                    <div class="fileupload-buttonbar">
																						
										                            <textarea class="row-fluid span11" id="note_text" rows="3"
										                                      placeholder="Enter your note here:"></textarea>
													                      <%= f.file_field :file %>

				<p><button type="button" id="note_file_button" class="btn-success has-spinner"><span class="spinner"><i class="icon-spin icon-refresh"></i></span>Send</button></p>
																				<span id="message" style="display:none">Note sent</span>
													                    </div>
																					
													                    <!-- The loading indicator is shown during image processing -->

													                    <br>
													                    <!-- The table listing the files available for upload/download -->
																							<script id="template-upload" type="text/x-tmpl">
																							<div class="upload">
																							  {%=o.name%}
																							  <div class="progress"><div class="bar" style="width: 0%;"></div></div>
																							</div>
																							</script>
													                <% end %>

                          

		                        </div>


		                        <div class="tab-pane" id="tabs-2">
		                            <textarea class="row-fluid span11" id="createalertinput" ng-model="data.message" rows="3"
		                                      placeholder="Enter your alert here:"></textarea>
		                            <!--   <textarea class="input-block-level" placeholder="type the name of the group here..." id="nodemessage"></textarea> -->
		                            <a class="btn" ng-click="publishgroupalert()" id="sendalert">Send</a>
		                        </div>


		                    </div>
		                </div>

                    <%= render "timetable/timetable" %>

                </div>
            </div>


            <!-- /Content -->


            <!-- /Content -->
        </div>


    </div>
    <!-- /Container -->
</div>




</div>



