

<div class="row" ng-controller="GroupsCtrl" ng-init="get()" style="margin-top:5%">
    <aside class="col-md-3">
        <section>
            <div>
              
           

                <%= render 'groups/header' %>
                
                   <%= render 'groups/options'%>

                <% if current_user.rolable_type == "Teacher" %>
                    <section>
                        <%= render 'shared/group_form' %>
                    </section>
                    <section>
                        <%= render 'shared/groups' %>
                    </section>

                <% end %>


            </div>
        </section>

    </aside>
    <div class="col-md-5">
        <!-- Main content         -->
        <div id="main-content">
            <!-- Container -->
            <div class="container">
               




                <div class="col-md-10">
                   

                  <h1 class="page-title">Group Files</h1>


                                  <div class="span6">
                    
                                      <ul class="nav nav-tabs nav-stacked">
                                        <% @notes.each do |note|%>
                                        <% unless note.file.path.nil? %>
                                        <%= note.file.path.split('/').last %>
                                        <div class="message-buttons">
                                          <%= link_to "Download",note.file.url,class: "btn btn-success" %>
                                       </div>
                                        <% end %>
                                        <% end %>
                                      </ul>

                 
                                  </div>

                </div>


            </div>
        </div>


        <!-- /Content -->


        <!-- /Content -->
    </div>


</div>
<!-- /Container -->
</div>




</div>



