.navbar
  .navbar-inner
    
    %a.brand{href: "/"} 
      =  image_tag "img/idlecampus.png", :class => "nav-logo",:size => "180x45"
    - if signed_in?
      %ul.dropdown-menu
    

 
     
      =  link_to "Sign out", signout_path, method: "delete",id:"signout",class:"btn btn-danger pull-right",style:"padding: 9px 11px;", "ng-click" => "signout()"
      =  link_to "Profile", current_user,class: "btn btn-success pull-right",id:"signinbutton"
			

    - else
      
      = link_to "Blog","http://blog.idlecampus.com",class: "btn btn-success pull-right",id:"signupbutton"
      = link_to "Log In",signin_path,class: "btn btn-success pull-right",id:"signinbutton"
      = link_to "Sign Up!",signup_path,class: "btn btn-primary pull-right",id:"signupbutton"
      = link_to "Contact Us",contact_path,class: "btn btn-primary pull-right",id:"signupbutton"
      = link_to "About Us",about_path,class: "btn btn-primary pull-right",id:"signupbutton"
		


