<!doctype html>
<html ng-app="idlecampus">
<head>
    <%= include_gon %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>IdleCampus</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    
    <%= csrf_meta_tags %>


<body ng-controller="xmpp">
<%= render "layouts/header" %>
	 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= flash[:alert] %>
<%= flash[:notice] %>
<%= flash[:success] %>

<%= yield %>

</body>
</html>


